<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
    <link rel="stylesheet" href="styleSheet.css">
</head>

<body>
    <!-- EJS BODY -->
    <a href="/home.html">Home</a>
    <h1>Add Student</h1>

    <!-- Display errors -->
    <% if (errors !=undefined) { %>
        <ul>
            <% errors.forEach((error)=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
    <% } %>

    <form action="/addStudent" method="POST">
        <label>Student ID:</label>
        <input type="text" name="sid" value="<%= student.sid %>"><br>
        <label>Name</label>
        <input type="text" name="name" value="<%= student.name %>"><br>
        <label>Age</label>
        <input type="number" name="age" value="<%= student.age %>"><br>
        <input type="submit" value="OK">
    </form>
</body>

</html>